<h1 class="h_action">Add a Book</h1>
<form class="form_add-book form_lib-task">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" maxlength="100" required>
  </div>
  <div>
    <label for="author">Author:</label>
    <input type="text" id="author" minlength="4" maxlength="50" required>
  </div>
  <div>
    <label for="edition">Edition:</label>
    <input type="number" id="edition" max="100", min="1">
  </div>
  <div>
    <label for="publisher">Publisher:</label>
    <select id="publisher" name="publisher" size="1">
      <option value="Iqbal Publishers">Iqbal Publishers</option>
      <option value="Urdu Publishers">Urdu Publishers</option>
      <option value="Haider Publishers">Haider Publishers</option>
      <option value="Kami Publishers">Kami Publishers</option>
    </select>
  </div>
  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" max="30">
  </div>
  <div>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" minlength="4" maxlength="30" required>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" min="1" max="1000" required>
  </div>
  <input type="submit" value="Add book" id="btn_add-book" class="btn_lib-task">
</form>
