<!-- Discover Members -->
<form class="search-members">
  <h1 class="h_action">Discover Members</h1>
  <label for="member-name"><button href="#" class="search-btn">Search</button></label>
  <input type="text" placeholder="Enter member's name" id="member-name">
</form>
<ul class="member-list">
   
</ul>



