<h1 class="h_action">Remove Book</h1>
<form class="form_rem-book form_lib-task">
  <div>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" maxlength="30", minlength="4" required>
  </div>
  <input type="submit" value="Remove book" id="btn_rem-book" class="btn_lib-task">
</form> 