<h1 class="h_action">Remove a Member</h1>
<form class="form_rem-member form_lib-task">
  <div>    
    <label for="fname">First Name:</label>
    <input type="text" name="first_name" id="fname" minlength="3", maxlength="25"  required>
  </div>
  <div>
    <label for="lname">Last Name:</label>
    <input type="text" name="last_name" id="lname" minlength="3", maxlength="25" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" minlength="11" maxlength="40" required>
  </div>
  <input type="submit" value="Remove member" id="btn_rem-member" class="btn_lib-task">
</form>