<form id="form_search-books">
  <h1 class="h_action">Find Books</h1>
  <div>
    <label for="search-books"><button class="search-btn">Search</button></label>
    <input type="text" name="title" id="search-books" placeholder="Enter book title" required>
  </div>
</form>
<ul class="book-list" id="searched-book-list">
 
</ul>

{{!-- 
 {
/* <li class="book-details">
      <img src="" alt="book cover">
      <div class="book-info">
        <p>{{this.title}}</p>
        <p>{{this.edition}}th edition</p>
        <p>Author: {{this.author}}</p>
        <p>{this.publisher_name}</p>
        <p>Category: {{this.category}}</p>
        <div class="actions_book"><p>Available</p><a href="#">Place a hold</a></div>
      </div>
    </li> */
} --}}